h1 {
text-align:center;
font-family:"Times New Roman", Times, serif;
}

h3{
text-align:right;
  position:absolute;
  top:100px;
  right:100px;
}
p{
text-align:right;
  position:relative;
  top:100px;
}
html, body {
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}




